@import "theme-template";

// variables


$primary-text-color: #000;
$secondary-text-color: lighten($primary-text-color, 20%);
$light-text-color: #FFF;
$dark-text-color: #000;
$link-text-color: #4A90E2;
$error-text-color: #FE3939;

$bg-color: #FFF;
$panel-bg-color: #0472a7;
$light-panel-bg-color: #FFF;
$super-light-panel-bg-color: darken($light-panel-bg-color, 1%);
$button-bg-color: #04C959;
$secondary-button-bg-color: $error-text-color;

$alert-color: $error-text-color;
$info-color: #A0A4B8;
$success-color: #21D19F;
$warning-color: lighten($error-text-color, 20%);
$fee-color: #000;

// Exchange colors
$bid-color: #04C959;
$ask-color: #fe3939;
$call-color: #57BDFD;
$positive-color: #04C959;
$negative-color: #fe3939;
$row-accent-color: #FFFFFF;
$header-color: #DCDCDC;

// Chat colors
$chat-text-color: #191A1F;

.lightTheme {
  @include theme(
    $primary-text-color,
    $bg-color,
    $dark-text-color,
    $link-text-color,
    $light-text-color,
    $secondary-text-color,
    $success-color,
    $info-color,
    $warning-color,
    $alert-color,
    $super-light-panel-bg-color,
    $panel-bg-color,
    $button-bg-color,
    $secondary-button-bg-color,
    $fee-color,
    $bid-color,
    $ask-color,
    $call-color,
    $light-panel-bg-color,
    $positive-color,
    $negative-color,
    $row-accent-color,
    $header-color,
    $chat-text-color
  );

  .blocktrades-bridge input, .blocktrades-bridge select{
    color: $secondary-text-color;
    background-color: $bg-color !important;
    border: 1px solid $secondary-text-color;
      &:hover, &:focus {
        color: $primary-text-color;
	      //box-shadow: 1px 2px 3px #000;
        border: 2px solid #000;
      }
  }

}
